<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>search_name</title>
</head>
<body>
    <!-- <form action="/search_list/" method="get">
        <label for="cname">姓名 : </label>
        <input type="text" name="cname" id="cname">
        <p><button type="submit" style="margin-right: 10px;">搜尋</button><button type="reset">重置</button></p>
    </form> -->

    <form action="{% url 'search_list' %}" method="get"><!--{% 放入別名(path裡的name) %}-->
        <label for="cname">姓名 : </label>
        <input type="text" name="cname" id="cname">
        <p><button type="submit" style="margin-right: 10px;">搜尋</button><button type="reset">重置</button></p>
    </form>
</body>
</html>